.recipe-detail {
    width: 100%; /* Expand to the available width */
    max-width: 600px; /* Set a max-width for better readability */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #333; /* Light gray background */
    border: 1px solid #e0e0e0; /* Light border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    margin-top: 30px;
    color: #fff;
}

.recipe-detail ul {
    padding: 0;
}

.recipe-detail ul li {
    display: flex;
    justify-content: center; /* Center both bullet and text horizontally */
    align-items: center; /* Center both bullet and text vertically */
}

/* Prevent text from overflowing */
.recipe-detail ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center text within the div */
    /* Add more styling as needed */
}

