.recipe-detail ul {
    padding: 0;
}

.recipe-detail ul li {
    display: flex;
    justify-content: center; /* Center both bullet and text horizontally */
    align-items: center; /* Center both bullet and text vertically */
}

/* Prevent text from overflowing */
.recipe-detail ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center text within the div */
    /* Add more styling as needed */
}

