.add-recipe-form {
    width: 100%; /* Expand to the available width */
    max-width: 400px; /* Set a max-width for better readability */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #333; /* Light gray background */
    border: 1px solid #e0e0e0; /* Light border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    margin-bottom: 40px;
}

.add-recipe-title {
    display: block;
    font-size: 24px;
    color: #333; /* Dark text color */
}

textarea,
input[type="text"] {
    width: 87%;
    padding: 10px;
    border-radius: 4px;
}

.add-recipe-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.add-recipe-button:hover {
    background-color: #0056b3;
}

.ingredient-input, .instruction-input {
    display: flex;
    align-items:flex-start;
}