.add-input-button {
    margin-bottom: 20px;
    width: 97%;
}

.add-input-button:hover {
    cursor: pointer;
}

.remove-input-button {
    width: 20px;
    border: none;
    border-radius: 3px;
    margin-left: 1px;
    margin-top: 1px;
}

.remove-input-button:hover {
    cursor: pointer;
}