.add-input-button {
    margin-bottom: 20px;
    width: 100%;
}

.add-input-button:hover {
    cursor: pointer;
}

.remove-input-button {
    width: 20px;
    border: none;
    position: absolute;
    right: 3px;
    top: 3px;
    border: 0;
    background: none;
    color: black;
    outline: none;
    margin: 0;
    padding: 0px;
    border-radius: 100px;
    z-index: 2;
}

.remove-input-button:hover {
    cursor: pointer;
}