.recipe-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    transition: transform 0.3s ease;
    height: 170px;
    width: 300px;
    overflow: hidden;
}

.recipe-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.recipe-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.recipe-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipe-description {
    font-size: 1rem;
    margin: 10px 0;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipe-food-type {
    font-size: 0.9rem;
    margin: 10px 0;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
