.homepage {
    text-align: center;
    padding: 20px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.featured-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
