/* Add this CSS in your HomePage.css or style the component directly */

.homepage {
    text-align: center;
}

.featured-recipes {
    display: flex;
    flex-direction: row; /* Set to "row" for recipes in rows */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}